:root {
    --gray-color: #cccccc;
}

* {
    font-family: 'Open Sans', Arial;
    word-break: keep-all;
    box-sizing: border-box;
}

body {
    width: 100vw;
    margin: 0;
}

p {
    text-align: center;
    line-height: 24px;
}

.text-link {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

.header {
    max-width: 1280px;
    width: 100%;
    justify-items: center;
    padding: 40px 24px;
    margin: 0 auto;

    h1 {
        font-size: 36px;
        text-align: center;
        line-height: 54px;
        margin-top: 60px;
    }

    .introduce {
        text-align: center;
        margin-top: 120px;
        display: flex;
        flex-direction: column;
        .berapt {
            font-size: 48px;
            font-weight: 700;
        }
        .berapt-name-introduce {
            margin-top: 10px;
        }
    }
}

main {
    max-width: 1280px;
    width: 100%;
    justify-items: center;
    padding: 40px 24px;
    margin: 0 auto;

    h3 {
        text-align: center;
        color: var(--gray-color);
        font-size: 32px;
        font-weight: 700;
    }

    .images {
        display: flex;
        gap: 20px;

        @media (max-width: 768px) {
            flex-direction: column;
            align-items: center;
        }
    }

    .app-stores {
        margin-top: 20px;
    }

    .techs {
        margin-top: 60px;

        h4 {
            font-size: 24px;
            margin: 0;
            padding: 8px 16px;
        }
    }

    .shoulder-link {
        margin-top: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        color: black;
    }

    .shoulder-logo {
        width: 600px;

        @media (max-width: 768px) {
            width: 340px;
        }
    }

    .shoulder-copy {
        line-height: 28px;
    }

    .shoulder-pick-copy {
        line-height: 28px;
    }

    .shoulder-pick-link {
        margin-top: 120px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        color: black;
    }

    .shoulder-pick-logo {
        width: 600px;

        @media (max-width: 768px) {
            width: 340px;
        }
    }

    .tech-description {
        font-size: 24px;
        line-height: 48px;
        padding-top: 40px;
        text-align: center;
    }

    .histories {
        display: flex;
        flex-direction: column;
        .year {
            font-size: 32px;
        }
    }

    .news {
        a {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            color: #0c43b7;
        }
    }

    .contact {
        padding-top: 60px;
        cursor: pointer;
    }

    .contact:hover {
        text-decoration: underline;
    }
}

footer {
    width: 100vw;
    padding: 16px;
    
    section {
        max-width: 1280px;
        width: 100%;
        margin: 40px auto 0px auto;
        align-items: flex-start;

        span {
            font-size: 14px;
        }
    }
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}


.text-gray {
    color: var(--gray-color);
}

.text-center {
    text-align: center;
}

.divider {
    background-color: var(--gray-color);
    height: 2px;
    width: 100%;
    margin-top: 80px;
}